# visual studio stuff
*.scc
*.sdf
*.suo
*.cache
*.pdb
*.pch
*.ipch
*.obj
*.exp
*.vshost.exe
*.vshost.exe.manifest
.vs/

# Ausgabe der Debug-Version
bin/Debug/
# Testdaten
# temporaere Unterverzeichnisse
saCsv2Gaeb90/bin/
saCsv2Gaeb90/obj/
xmlPds2Itc/bin/
xmlPds2Itc/obj/
